<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuebei.crm.login.LoginRegisterMapper">

    <resultMap id="userMap" type="com.xuebei.crm.user.User">
        <id column="crm_user_id" property="CRMUserId"/>
        <result column="tel" property="tel"/>
        <result column="real_nm" property="realName"/>
        <result column="pwd" property="pwd"/>
    </resultMap>

    <resultMap id="userMessage" type="com.xuebei.crm.user.User">
        <id column="crm_user_id" property="CRMUserId"/>
        <result column="tel" property="tel"/>
        <result column="real_nm" property="realName"/>
    </resultMap>

    <select id="searchTel" parameterType="string" resultMap="userMap">
        select * from crm_user
        WHERE tel=(#{tel})
    </select>

    <select id="searchMessage" parameterType="string" resultMap="userMessage">
        select * from crm_user
        WHERE crm_user_id=(#{crmUserId})
    </select>

    <select id="changePwd" parameterType="string" resultMap="userMap">
        UPDATE crm_user SET  pwd = (#{pwd})
        WHERE tel=(#{tel})
    </select>

    <select id="queryRealName" parameterType="string" resultType="java.lang.String">
        SELECT real_nm
        FROM crm_user
        WHERE crm_user_id = #{crmUserId} ;
    </select>

    <select id="queryTel" parameterType="string" resultType="java.lang.String">
        SELECT tel
        FROM crm_user
        WHERE crm_user_id = #{crmUserId} ;
    </select>


    <insert id="insertUser" parameterType="com.xuebei.crm.user.User">
        INSERT INTO  crm_user
        ( crm_user_id,tel,pwd, real_nm, gender, mail,birth,
        avatar_url, create_ts, update_ts)
        VALUES
        ( #{userId},#{tel},  #{pwd}, #{realName}, #{genderEnum}, #{mail},#{birth},
         "/images/journal/defaultUserIcon.png", NOW(), NOW())
    </insert>

    <select id="queryUserIdByCompanyId" resultType="java.lang.String">
        SELECT user_id
        FROM company_user
        WHERE crm_user_id = #{crmUserId}
          AND company_id = #{companyId}
            AND status = "PERMITTED";
     </select>
</mapper>