<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>添加部门</title>
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css"/>
    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/addTopDepartment.js"></script>

    <style>
        .weui-cells:before {
            border: none;
        }
        .top-bar {
            background: #ffffff;
            text-align: center;
            padding: 10px 15px;
        }
        .pull-left {
            float: left!important;
        }
        .pull-right {
            float: right!important;
        }
        .center-box{
            text-align: center;
        }
    </style>
</head>
<body>

<div id="addTopDepartmentVue">

    <input id="customerId" type="hidden" th:value="${customerId}">

    <div class="top-bar" style="border: hidden">
        <span class="pull-left" style="color: rgb(61, 168, 244); font-size: 16px;"
              @Click="cancelAddTopDepartment">取消</span>
        <span class="center-ele" style="font-size: 18px; color: rgb(51, 51, 51);">添加二级学院</span>
        <span class="pull-right" style="color: gray; font-size: 16px;"
              @Click="confirmAddTopDepartment" id="submitBtn">完成</span>
    </div>

    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label" style="width: 130px;">学院名称</label>
            </div>
            <div class="weui-cell__bd" >
                <input  class="weui-input" placeholder="请输入学院全称" v-model="deptName" @input="deptNameInputChanged()">
            </div>
        </div>

    </div>

    <div class="weui-cell" v-show="showPromptMessage">
        <div style="padding: 0px 15px;line-height: 1;">
            <span style="padding-left: 122px;color: red;font-size: 7px;" v-text="promptMessage"></span>
        </div>
    </div>


    <div class="weui-cells weui-cells_form">
        <div class="weui-cell" style="padding-bottom: 0">
            <div class="plan-title"><p>学院简介(选填)</p></div>
        </div>
        <div class="weui-cells weui-cells_form" style="margin-top: 0;">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" rows="5" style="font-size: 15px" placeholder="请输入学院简介"
                              v-model="profile"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cells weui-cells_form">
        <div class="weui-cell" style="padding-bottom: 0">
            <div class="plan-title"><p>学院官方网站</p></div>
        </div>
        <div class="weui-cells weui-cells_form" style="margin-top: 0;">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" rows="2" style="font-size: 15px" placeholder="请输入学院官网"
                              v-model="website"></textarea>
                </div>
            </div>
        </div>
    </div>


    <div class="js_dialog" id="iosDialog2" style="opacity: 1;" v-show="showErrMsg">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd" v-text="errMsg"></div>
            <div class="weui-dialog__ft">
                <a @click="showErrMsg = false" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
            </div>
        </div>
    </div>


</div>

</body>
</html>