<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>申请项目支持</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css"/>
    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/opportunity/applySupport.js"></script>
    <style>
        .plan-title {
            background-color: #FFFFFF;
            line-height: 1.47058824;
            font-size: 17px;
            overflow: hidden;
            position: relative;
        }
        .weui-cells:before,.receiver-box:after, .receiver-box:before {
            border: none;
        }
        .top-bar {
            background: #ffffff;
            text-align: center;
            padding: 10px 15px;
        }
        .pull-left {
            float: left!important;
        }
        .pull-right {
            float: right!important;
        }
        .select-my {
            height: 25px;
            line-height: 24px;
            font-size: 17px;
            color: #999999;
        }
    </style>
</head>

<body >

<div id="applySupportVue">

    <input type="hidden" id="salesOpportunityId" th:value="${salesOpportunityId}"/>

    <div v-show="showPage == 'mainPage'">
        <div class="top-bar center-box" style="border: hidden">
            <span @click="backPage" class="pull-left"><img src="/images/back_icon.svg" style="margin-top:3px"/></span>
            <span class="center-ele" style="font-size: 18px; color: #101010;">申请项目支持</span>
        </div>

        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>支持类型</p>
                </div>
                <div class="weui-cell__ft">
                    <select id="supportType" class="weui-select select-my">
                        <option value="">未选择</option>
                        <th:block th:each="enumItem: ${supportTypes}">
                            <option th:text="${enumItem.getName()}" th:value="${enumItem.name()}"></option>
                        </th:block>
                    </select>
                </div>
            </a>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">执行者</label>
                </div>
                <div class="weui-cell__ft">
                    <label  class="weui-input" style="text-align: right;">根据支持类型由管理员配置</label>
                </div>
            </div>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>截止日期</p>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="date" id="date"/>
                </div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>优先级</p>
                </div>
                <div class="weui-cell__ft">
                    <select id="selectOrder" class="weui-select select-my">
                        <option value="">未选择</option>
                        <option value="NORMAL">普通</option>
                        <option value="URGENT">紧急</option>
                        <option value="GREATEURGENT">十分紧急</option>
                    </select>
                </div>
            </a>
        </div>

        <div class="weui-cells weui-cells_form">
            <div class="weui-cell" style="padding-bottom: 0">
                <div class="plan-title"><p>支持描述</p></div>
            </div>
            <div class="weui-cells weui-cells_form" style="margin-top: 0;">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                    <textarea class="weui-textarea" rows="5" style="font-size: 15px" placeholder="请输入对项目支持的详细描述" id="content"
                              ></textarea>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div id="buttonDiv" style="padding:0px 15px;" @click="submitSupport">
            <a href="javascript:;" class="weui-btn weui-btn_primary">确定</a>
        </div>
    </div>

    <!--<div v-show="showPage=='supportTypePage'">-->
        <!--<div class="top-bar center-box" style="border: hidden">-->
            <!--<span class="center-ele" style="font-size: 18px; color: #101010;">选择支持类型</span>-->
        <!--</div>-->
        <!--<div class="weui-cells_radio" style="background:#ffffff;">-->
            <!--<div th:each="enumItem: ${supportTypes}">-->
                <!--<label class="weui-cell weui-check__label">-->
                    <!--<div class="weui-cell__bd">-->
                        <!--<p th:text="${enumItem.getName()}"></p>-->
                    <!--</div>-->
                    <!--<div class="weui-cell__ft">-->
                        <!--<input type="radio" class="weui-check" name="supportType" th:value="${enumItem.name()}" v-model="supportType">-->
                        <!--<i class="weui-icon-checked"></i>-->
                    <!--</div>-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->

        <!--<br>-->

        <!--<div id="confirmSelectTypeButtonDiv" style="padding:0px 15px;">-->
            <!--<a href="javascript:;" class="weui-btn weui-btn_primary" @click="confirmSupportType">确定</a>-->
        <!--</div>-->

    <!--</div>-->

    <div class="js_dialog" id="iosDialog2" style="opacity: 1;" v-show="showErrMsg">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd" v-text="errMsg"></div>
            <div class="weui-dialog__ft">
                <a @click="showErrMsg = false" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>