<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
    <title>客户</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css">
    <link rel="stylesheet" type="text/css" href="/journalList.css">
    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/customer/searchCustomerInfo.js?v=20190322"></script>
    <style>
        .center-box {
            text-align: center;
        }

        .top-bar {
            text-align: center;
            background: #FFFFFF;
        }

        .pull-left {
            float: left !important;
        }

        .pull-right {
            float: right !important;
        }

        .weui-media-box__hd img{
            width: 36px;
        }

        .weui-media-box_appmsg .weui-media-box__hd{
            width: 36px;
            height: 36px;
        }
    </style>
</head>
<body>

<div class="page tabbar js_show">
    <div class="weui-tab">
        <div class="weui-tab__panel">
            <div id="customerVue" class="weui-tab">

                <div style="display: none" v-show="showAddJournalDialog">
                    <div class="weui-mask" @click="cancelAddCustomerEvent"></div>
                    <div class="add-journal">
                        <div class="weui-actionsheet__menu" style="border-radius: 0.33em">
                            <a href="/customer/add">
                                <div class="weui-actionsheet__cell add-journal-item">新建院校</div>
                            </a>
                            <a href="/customer/addAgent">
                                <div class="weui-actionsheet__cell add-journal-item"
                                     style="border-top: 1px solid #e5e5e5;">新建代理商
                                </div>
                            </a>
                            <a href="/customer/agentInput?type=1">
                                <div class="weui-actionsheet__cell add-journal-item"
                                     style="border-top: 1px solid #e5e5e5;">excel导入代理商
                                </div>
                            </a>
                            <a href="/customer/agentInput?type=2">
                                <div class="weui-actionsheet__cell add-journal-item"
                                     style="border-top: 1px solid #e5e5e5;">excel导入院校
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="page navbar js_show">
                    <div id="titleBar" v-show="titleBar">
                        <div class="navbar">
                            <div class="top-bar" style="height: 28px; padding: 10px 10px;">
                            <span @click="backToInfo" class="pull-left">
                                <img src="/images/back_icon.svg" style="margin-top:7px; display: none"/></span>
                                <span class="center" style="font-size: 22px; margin-top: 1px">客户</span>
                                <a @click="addCustomer">
                                        <span class="pull-right" style="margin-top: 7px;"><img
                                                src="/images/add.png"
                                                style="width: 16px; height: 16px; display: block"/></span>
                                </a>
                            </div>

                            <div class="weui-navbar" style="position: relative;height: 40px;background-color: #F9F9F9;
                            font-size: 15px; color: #999999;">
                                <div class="weui-navbar__item weui-bar__item_on"
                                     style="border-bottom: inset rgba(56, 164, 242, 1); color: rgba(56, 164, 242, 1)" >
                                    院校
                                </div>
                                <div class="weui-navbar__item" @click="goAgentList">
                                    代理商
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="js_dialog" id="iosDialog2" style="opacity: 1;display: none" v-show="showErrMsg">
                        <div class="weui-mask"></div>
                        <div class="weui-dialog">
                            <div class="weui-dialog__bd" v-text="errMsg"></div>
                            <div class="weui-dialog__ft">
                                <a @click="showErrMsg=false" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                            </div>
                        </div>
                    </div>

                    <div class="weui-tab__panel">
                        <div class="panel">
                            <div class="page__bd" v-if="loading">
                                <div class="weui-loadmore">
                                    <i class="weui-loading"></i>
                                    <span class="weui-loadmore__tips">正在加载</span>
                                </div>
                                <div class="weui-loadmore weui-loadmore_line">
                                    <span class="weui-loadmore__tips">暂无数据</span>
                                </div>
                                <div class="weui-loadmore weui-loadmore_line weui-loadmore_dot">
                                    <span class="weui-loadmore__tips"></span>
                                </div>
                            </div>

                            <div class="weui-search-bar" id="searchBar" >
                                <div class="weui-search-bar__form">
                                    <div class="weui-search-bar__box">
                                        <i class="weui-icon-search"></i>
                                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="请输入院校名称/创建人名称"
                                               v-model="searchWord" required="">
                                        <a href="javascript:" class="weui-icon-clear" id="searchClear" @click="clear"></a>
                                    </div>
                                    <label class="weui-search-bar__label" id="searchText" @click="text"
                                           style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                                        <i class="weui-icon-search"></i>
                                        <span>搜索</span>
                                    </label>
                                </div>
                                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel" @click="cancel">取消</a>
                            </div>

                            <div id="customers" v-show="customers">
                                <div class="myCustomerList weui-panel weui-panel_access">
                                    <div class="weui-panel__hd weui-media-box__title">我的客户</div>
                                    <div class="weui-panel__bd myCustomers">
                                        <a class="weui-media-box weui-media-box_appmsg"
                                           @click="loadDetail(customer)" v-for="customer in myCustomers">
                                            <div class="weui-media-box__hd">
                                                <img class="weui-media-box__thumb"
                                                     src="/images/customer/school.svg"
                                                     alt="">
                                            </div>
                                            <div class="weui-media-box__bd" style="margin-left: 10px">
                                                <h1 class="weui-media-box__title"
                                                    v-text="customer.customerName"></h1>
                                                <p class="weui-media-box__desc">{{customer.createName}}</p>
                                                <p class="weui-media-box__desc">创建: {{transferTime(customer.createTs)}}  最后跟进: {{customer.lastTs}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="allCustomerList weui-panel weui-panel_access">
                                    <div class="weui-panel__hd weui-media-box__title">公海客户</div>
                                    <div class="weui-panel__bd allCustomers">
                                        <a class="weui-media-box weui-media-box_appmsg"
                                           @click="loadDetail(customer)" v-for="customer in commonCustomers">
                                            <div class="weui-media-box__hd">
                                                <img class="weui-media-box__thumb"
                                                     src="/images/customer/school.svg"
                                                     alt="">
                                            </div>
                                            <div class="weui-media-box__bd">
                                                <h1 class="weui-media-box__title"
                                                    v-text="customer.customerName"></h1>
                                                <p class="weui-media-box__desc">{{customer.createName}}</p>
                                                <p class="weui-media-box__desc">创建: {{transferTime(customer.createTs)}}  最后跟进: {{customer.lastTs}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div id="searchRes" v-show="searchRes">
                                <div class="myCustomerList weui-panel weui-panel_access">
                                    <div class="weui-panel__hd weui-media-box__title">搜索结果</div>
                                    <div class="weui-panel__bd myCustomers">
                                        <a class="weui-media-box weui-media-box_appmsg"
                                           @click="loadDetail(customer)" v-for="customer in customerList">
                                            <div class="weui-media-box__hd">
                                                <img class="weui-media-box__thumb"
                                                     src="/images/customer/school.svg"
                                                     alt="">
                                            </div>
                                            <div class="weui-media-box__bd">
                                                <h1 class="weui-media-box__title"
                                                    v-text="customer.customerName"></h1>
                                                <p class="weui-media-box__desc">{{customer.createName}}</p>
                                                <p class="weui-media-box__desc">创建: {{transferTime(customer.createTs)}}  最后跟进: {{customer.lastTs}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div id="blank" style="margin:20% auto auto auto; text-align:center;" v-show="blank">
                                <p>
                                    <img src="/images/customer/customer.svg"/>
                                </p>
                                <p style="color: grey">还没有客户，快去添加吧</p>
                            </div>

                            <!-- loading toast -->
                            <div id="loadingToast" style="display:none;">
                                <div class="weui-mask_transparent"></div>
                                <div class="weui-toast">
                                    <i class="weui-loading weui-icon_toast"></i>
                                    <p class="weui-toast__content">数据加载中</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="footer">
        <navfooter></navfooter>
    </div>
</div>
<!--<script type="text/javascript" class="tabbar js_show">-->
    <!--$(function () {-->
        <!--$('.weui-tabbar__item').on('click', function () {-->
            <!--$(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');-->
        <!--});-->
    <!--});-->
<!--</script>-->
<script>
    function journal() {
        location.href = '/journal/toList';
    };
    function opportunity() {
        location.href = '/opportunity';
    }
</script>
</body>
</html>
<script src="/navFooter.js"></script>
