<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>找回密码</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css">
    <style>
        .top-bar {
            background: #ffffff;
            text-align: center;
            padding: 10px 15px;
        }
        .pull-left {
            float: left!important;
        }
    </style>
</head>
<body ontouchstart>

    <div id = "insertVue">
        <div class="top-bar" style="height: 20px;">
            <a href="javascript:login();">
                <span class="pull-left"><img src="/images/back_icon.svg" style="margin-top:3px"/></span>
            </a>
        </div>

    <!--<div class="weui-cells"  style="transform:rotate(180deg)">-->
        <!--<a class="weui-cell weui-cell_access" href="javascript:login();">-->
            <!--<div class="weui-cell__bd" style="color:transparent"  >-->
                <!--<p>back</p>-->
            <!--</div>-->
            <!--<div class="weui-cell__ft" >-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->

    <div class="weui-flex" style=" visibility: hidden">
        <div class="weui-flex__item">
            <div class="placeholder">placeholder</div>
        </div>
    </div>
    <div class="weui-flex" style=" visibility: hidden">
        <div class="weui-flex__item">
            <div class="placeholder">placeholder</div>
        </div>
    </div>
    <div class="weui-flex" style=" visibility: hidden">
        <div class="weui-flex__item">
            <div class="placeholder">placeholder</div>
        </div>
    </div>
    <div class="weui-flex" style=" visibility: hidden">
        <div class="weui-flex__item">
            <div class="placeholder">placeholder</div>
        </div>
    </div>
    <div class="weui-flex">
        <div class="weui-flex__item">
            <div class="placeholder"></div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder"style="text-align: center;">
                <h2>找回密码</h2>
            </div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder"></div>
        </div>
    </div>
    <div class="weui-flex" style=" visibility: hidden">
        <div class="weui-flex__item">
            <div class="placeholder">placeholder</div>
        </div>
    </div>
    <div class="weui-flex" style=" visibility: hidden">
        <div class="weui-flex__item">
            <div class="placeholder">placeholder</div>
        </div>
    </div>
    <div class="weui-flex" style=" visibility: hidden">
        <div class="weui-flex__item">
            <div class="placeholder">placeholder</div>
        </div>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__bd">
                    <input id="inputTel" class="weui-input" type="number" placeholder="输入手机号" v-model="tel">
                </div>
                <div class="weui-cell__ft">
                    <a id="send-captcha" href="javascript:;" @click="getCaptchaPwd" class="weui-vcode-btn">获取验证码</a>
                </div>
            </div>
        </div>
        <div class="weui-cells__tips" style=" display:none">
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="输入验证码" v-model="captcha">
                </div>
            </div>
        </div>
        <div class="weui-cells__tips" style=" display:none">
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input "  type="password" placeholder="输入新密码（至少6位）" v-model="pwd">
                </div>
            </div>
        </div>

        <div class="weui-flex" style=" visibility: hidden">
            <div class="weui-flex__item">
                <div class="placeholder">placeholder</div>
            </div>
        </div>

        <div class="hb_mar_top_40">
            <button  class="weui-btn weui-btn_primary" id=submit_btn @click="findPwd">确认</button>
        </div>
    </div>
    </div>
</body>
<script>
    function login(){
        location.href='/';
    }
</script>
<script src="http://47.96.188.208/static/js/jquery-2.1.1.js"></script>
<script src="/vue.v2.5.13.js"></script>
<script src="/loginRegister.js"></script>
</html>
