<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal Detail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css"/>
</head>
<body>
<body ontouchstart>
<div class="container" id="container">
    <div class="page navbar js_show">
        <div class="weui-panel__hd">日志详情</div>
        <div class="page__bd" style="height: 100%">
            <div class="weui-tab__panel">
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text" style="background-color: #FFFFFF;margin-top: 1.17647059em">
                        <div class="weui-cell" style="padding: 0">
                            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                                <img src="/images/pic_160.png" style="width: 50px;display: block">
                            </div>
                            <div class="weui-cell__bd">
                                <p>Name</p>
                                <p style="font-size: 13px;color: #888888;">Date</p>
                            </div>
                        </div>
                        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                    </div>
                    <div class="weui-cells" style="margin-top: 0">
                        <div class="weui-cell">
                            <span>
                                <ul class="weui-media-box__info">
                                     <li class="weui-media-box__info__meta">
                                         <a href="javascript:">
                                             已读
                                         </a>
                                     </li>
                                     <li class="weui-media-box__info__meta">
                                         <a href="javascript:">
                                             未读
                                         </a>
                                     </li>
                                </ul>
                            </span>
                        </div>
                        <div class="weui-cell">
                            <span style="display: inline-block;position: relative;">
                                <img src="/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                                <p class="weui-tabbar__label">刘勇</p>
                            </span>
                        </div>
                    </div>
                    <div class="weui-media-box weui-media-box_text" style="background-color: #FFFFFF;margin-top: 1.17647059em">
                        <div class="weui-cell" style="padding: 0">
                            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                                <img src="/images/pic_160.png" style="width: 50px;display: block">
                            </div>
                            <div class="weui-cell__bd">
                                <p>Name</p>
                                <p style="font-size: 13px;color: #888888;">Date</p>
                            </div>
                        </div>
                        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                    </div>
                    <div class="weui-cells" style="margin-top: 0">
                        <div class="weui-cell">
                            <span>
                                <ul class="weui-media-box__info">
                                     <li class="weui-media-box__info__meta">
                                         <a href="javascript:">
                                             已读
                                         </a>
                                     </li>
                                     <li class="weui-media-box__info__meta">
                                         <a href="javascript:">
                                             未读
                                         </a>
                                     </li>
                                </ul>
                            </span>
                        </div>
                        <div class="weui-cell">
                            <span style="display: inline-block;position: relative;">
                                <img src="/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                                <p class="weui-tabbar__label">刘勇</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</body>
</html>