<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>任务</title>

    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css">

    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/weui.min.js"></script>
    <script src="/mission.js?v=20190710"></script>

    <style>
        .pull-left {
            float: left !important;
        }

        .pull-right {
            float: right !important;
        }

        .top-bar {
            background: #FFFFFF;
            text-align: center;
            padding: 7px 10px;
            font-size: 18px;
        }

        .center-box {
            text-align: center;
        }

        .navi-bar {
            z-index: 9999;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .weui-media-box__title {
            padding: 4px 5px;
        }

    </style>
</head>
<body ontouchstart>

<div id="mission">
    <div id="missionList" v-show="show==='home'">
        <div class="page tabbar js_show" style="height: 100%">
            <div class="weui-tab">
                <div class="navi-bar">
                   <span class="pull-left" @click="history.back()">
                        <img src="/images/back_icon.svg" style="margin-top: 7px;margin-left: 10px">
                    </span>
                    <div class="top-bar center-box">
                        任务</span>
                    </div>

                    <div class="weui-navbar" style="position: relative;height: 40px;background-color: #F9F9F9;
                            font-size: 15px; color: #999999;">
                        <div class="weui-navbar__item weui-bar__item_on"
                             style="border-bottom: inset rgba(56, 164, 242, 1); color: rgba(56, 164, 242, 1)"
                             @click="unfinish">
                            未完成
                        </div>
                        <div class="weui-navbar__item" @click="finish">
                            已完成
                        </div>

                    </div>
                </div>

                <div class="weui-tab__panel" style="padding-top: 82px; background: #FFFFFF;">


                    <div id="notFinish" v-show="showPage ==='unfinish'" style="display: none">

                        <div class="blank" style="margin:20% auto auto auto; text-align:center; "
                             v-if="unfinishList.length === 0">
                            <p>
                                <img src="/images/project/no_project.svg"/>
                            </p>
                            <p style="color: #CCCCCC; font-size: small">目前没有相关任务</p>
                        </div>




                        <div v-for="support in unfinishList">
                            <div class="weui-panel weui-panel_access" style="border-top: solid 1px #B2B2B2;"
                                 @click="toDetail(support.support.supportId)">
                                <div class="weui-form-preview">
                                    <div class="weui-form-preview__item" style="font-size: small;padding: 3px 0px;">
                                        <label class="weui-form-preview__label"
                                               style="padding-left: 15px;color: #0D0D0D">截止日期：{{support.support.expireDate.substring(0,11)}}</label>
                                        <label class="weui-form-preview__label" style="float: right;color: #0D0D0D">发起日期：{{support.createTs.substring(0,11)}}</label>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg"
                                   style="padding: 8px 10px ;">
                                    <div class="weui-media-box__bd">
                                        <p class="weui-media-box__title" style="font-size: 13px;">
                                            任务名称: {{supportType(support.support.supportType)}}
                                            <label class="pull-right" style="font-size: 13px;color: #00A4FF;">
                                                {{supportOrder(support.support.order)}}</label>
                                        </p>
                                        <p class="weui-media-box__title" style="font-size: 13px;">
                                            相关项目：
                                            <span v-if="support.projectContacts === undefined"></span>
                                            <span v-else>
                                                <span v-if="support.projectContacts.customerName === undefined"></span>
                                                <span v-else>{{support.projectContacts.customerName}}-</span>
                                                <span v-if="support.projectContacts.subDeptName ===undefined"></span>
                                                <span v-else>{{support.projectContacts.subDeptName}}-</span>
                                            </span>
                                            {{support.projectName}}&nbsp;
                                        </p>
                                        <p class="weui-media-box__title" style="font-size: 13px;">
                                            执行者: <span v-if="support.leaderName=== undefined">待管理员指配</span>
                                            <span v-else>{{support.leaderName}}</span>
                                            <label class="pull-right" style="font-size: 13px;color: #00A4FF;">
                                                {{support.support.percent}}%</label>
                                        </p>
                                        <p class="weui-media-box__title" style="font-size: 13px;">
                                            发起人: {{support.creatorName}}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div id="hasFinish" v-show="showPage ==='finish'" style="display: none">

                        <div class="blank" style="margin:20% auto auto auto; text-align:center; "
                             v-if="finishList.length === 0">
                            <p>
                                <img src="/images/project/no_project.svg"/>
                            </p>
                            <p style="color: #CCCCCC; font-size: small">目前没有相关任务</p>
                        </div>


                        <div v-for="support in finishList">

                            <div class="weui-panel weui-panel_access" style="border-top: solid 1px #B2B2B2;"
                                 @click="toDetail(support.support.supportId)">
                                <div class="weui-form-preview">
                                    <div class="weui-form-preview__item" style="font-size: small;padding: 3px 0px;">
                                        <label class="weui-form-preview__label"
                                               style="padding-left: 15px;color: #0D0D0D">截止日期：{{support.support.expireDate.substring(0,11)}}</label>
                                        <label class="weui-form-preview__label" style="float: right;color: #0D0D0D">发起日期：{{support.createTs.substring(0,11)}}</label>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg"
                                   style="padding: 8px 10px ;">
                                    <div class="weui-media-box__bd">
                                        <p class="weui-media-box__title" style="font-size: 13px;">
                                            任务名称: {{supportType(support.support.supportType)}}
                                            <label class="pull-right" style="font-size: 13px;color: #00A4FF;">
                                                {{supportOrder(support.support.order)}}</label>
                                        </p>
                                        <p class="weui-media-box__title" style="font-size: 13px;">
                                            相关项目：
                                            <span v-if="support.projectContacts === undefined"></span>
                                            <span v-else>
                                                <span v-if="support.projectContacts.customerName === undefined"></span>
                                                <span v-else>{{support.projectContacts.customerName}}-</span>
                                                <span v-if="support.projectContacts.subDeptName ===undefined"></span>
                                                <span v-else>{{support.projectContacts.subDeptName}}-</span>
                                            </span>
                                            {{support.projectName}}&nbsp;
                                        </p>
                                        <p class="weui-media-box__title" style="font-size: 13px;">
                                            执行者: <span v-if="support.leaderName=== undefined">待管理员指配</span>
                                            <span v-else>{{support.leaderName}}</span>
                                            <label class="pull-right" style="font-size: 13px;color: #00A4FF;">
                                                {{support.support.percent}}%</label>
                                        </p>
                                        <p class="weui-media-box__title" style="font-size: 13px;">
                                            发起人: {{support.creatorName}}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                    <!-- loading toast -->
                    <div id="loadingToast" style="display:none;">
                        <div class="weui-mask_transparent"></div>
                        <div class="weui-toast">
                            <i class="weui-loading weui-icon_toast"></i>
                            <p class="weui-toast__content">数据加载中</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="missionDetail" v-show="show==='detail'" style="display: none">
        <div class="page tabbar js_show" style="height: 100%">
            <div class="weui-tab">
                <div class="navi-bar">
                    <div class="top-bar center-box">
                        <span @click="back" class="pull-left">
                            <img src="/images/back_icon.svg"
                                 style="margin-top:7px;"/></span>
                        <span class="center" style="margin-top: 3px;">任务详情</span>
                    </div>

                </div>

                <span v-if="curSupport !=''">
                <div class="weui-tab__panel" style="padding-top: 25px; background: #FFFFFF;">
                    <div class="weui-cells" style="font-size: medium">
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label">任务名称：</label>
                            </div>
                            <div class="weui-cell__bd">
                                <label class="weui-input">{{supportType(curSupport.support.supportType)}}</label>
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label">项目名称：</label>
                            </div>
                            <div class="weui-cell__bd">
                                <label class="weui-input">{{curSupport.projectName}}</label>
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label">发起日期：</label>
                            </div>
                            <div class="weui-cell__bd">
                                <label class="weui-input">{{curSupport.createTs.substring(0,11)}}</label>
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label">截止日期：</label>
                            </div>
                            <div class="weui-cell__bd">
                                <label class="weui-input">{{curSupport.support.expireDate.substring(0,11)}}</label>
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label">发起人：</label>
                            </div>
                            <div class="weui-cell__bd">
                                <label class="weui-input">{{curSupport.creatorName}}</label>
                            </div>
                        </div>

                        <span v-if="admin">

                                <span v-if="curSupport.leaderName== undefined">
                                    <div></div>
                                     <a class="weui-cell weui-cell_access" href="javascript:;" @click="chooseExe('')">
                                    <div class="weui-cell__hd">
                                        <label class="weui-label">执行人：</label>
                                    </div>
                                    <div class="weui-cell__bd">
                                        <label class="weui-input">未指定</label>
                                    </div>
                                    <div class="weui-cell__ft">指定执行者</div>
                                          </a>
                                </span>

                                <span v-else>
                                    <div></div>
                                     <a class="weui-cell weui-cell_access" href="javascript:;" @click="chooseExe('')">
                                     <div class="weui-cell__hd">
                                        <label class="weui-label">执行人：</label>
                                     </div>
                                     <div class="weui-cell__bd">
                                        <label class="weui-input">{{curSupport.leaderName}}</label>
                                     </div>
                                          <div class="weui-cell__ft">指定执行者</div>
                                     </a>
                                </span>

                        </span>

                        <span v-else>
                            <div></div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">执行人：</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <label class="weui-input">
                                        <span v-if="curSupport.leaderName== undefined">未指定</span>
                                        <span v-else>{{curSupport.leaderName}}</span>
                                     </label>
                                </div>
                            </div>

                        </span>


                    </div>

                    <div class="weui-cells weui-cells_form" style="font-size: medium">
                        <div class="weui-cell" style="padding-bottom: 0">
                            <div class="plan-title"><p>支持描述</p></div>
                        </div>
                        <div class="weui-cells weui-cells_form" style="margin-top: 0;">
                            <div class="weui-cell">
                                <div class="weui-cell__bd" style="color: darkgray;">

                                    <span>{{curSupport.support.content}}</span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="weui-cells" style="font-size: medium">
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label">任务完成度</label>
                            </div>
                            <div class="weui-cell__bd">
                                <p v-if="operator">
                                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default"
                                       @click="modify">{{button}}</a>
                                </p>
                            </div>
                            <div class="weui-cell__ft">
                                <div id="wan" class="weui-cell__ft" style="float: right">
                                    {{curSupport.support.percent}}%
                                </div>
                            </div>
                        </div>
                    </div>

                 <span v-if="showSlider">

                    <div class="weui-slider-box slider js_show">
                        <div class="weui-slider" style="margin-top: 13px">
                            <div id="sliderInner" class="weui-slider__inner">
                                <div id="sliderTrack" style="width: 80%;" class="weui-slider__track"></div>
                                <div id="sliderHandler" style="left: 80%;" class="weui-slider__handler"></div>
                            </div>
                        </div>
                        <div id="sliderValue" class="weui-slider-box__value" style="display: none">80</div>
                    </div>

                 </span>

                    <div class="weui-cells" style="font-size: medium">
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label class="weui-label">任务信息</label>
                            </div>
                        </div>

                        <span v-if="operator">
                            <div></div>
                            <div class="weui-cell" style="padding: 5px 8px" @click="addProgress">
                                <div class="weui-cell__bd" style="color: darkgray;">
                                    <span  class="pull-left" style="height: 24px">
                                        <img src="/images/project/add.svg" style="margin-left: 5px"/>
                                    </span>
                                    <span>添加新的进度信息</span>
                                </div>
                            </div>
                        </span>

                        <span v-if="information.length != 0">

                            <div v-for="inform in information">
                                <div></div>
                                <div class="weui-cell">
                                    <div class="weui-cell__bd" style="color: darkgray;">

                                        <div>{{inform.createTs}}</div>
                                        <span>{{inform.content}}</span>
                                    </div>
                                </div>
                            </div>

                        </span>
                        <span v-else>
                            <div></div>
                             <div class="weui-cell">
                             <div class="weui-cell__bd">
                                <label class="weui-input">暂无</label>
                            </div>
                             </div>
                        </span>

                    </div>

                </div>
                </span>


            </div>
        </div>
    </div>

    <div id="executor" v-show="show ==='chooseExe'" style="display: none">

        <div class="weui-tab">
            <div class="navi-bar">
        <div class="top-bar" style="height: 30px">
                        <span @click="chooseBack" class="pull-left">
                                <img src="/images/back_icon.svg"
                                     style="margin-top:8px;margin-left: 5px"/>
                        </span>

            <span style="height: 30px;display: inline-block ;padding-top: 5px;">选择执行者</span>

            <span class="pull-right" style="margin-top: 7px; color: #28b3ff"
                  @click="confirm"> 完成 &nbsp; </span>
            <span style="float:right;margin-top: 7px;margin-right: 20px" @click="search">&nbsp;
                                    <img src="/images/search.svg"/>
                                </span>
        </div>
            </div>
        <div class="list">
            <div class="page__bd">


                <div class="weui-tab__panel" style="padding-top: 25px; background: #FFFFFF;">
                     <div style="height: 25px;"></div>
                    <div v-if="searchBar">
                        <div class="weui-search-bar" id="searchBar">
                            <div class="weui-search-bar__form">
                                <div class="weui-search-bar__box">
                                    <i class="weui-icon-search"></i>
                                    <input type="text" class="weui-search-bar__input" id="searchInput"
                                           placeholder="搜索" v-model="keyWord">
                                    <a href="javascript:" class="weui-icon-clear" id="searchClear"
                                       @click="clear"></a>
                                </div>
                                <label class="weui-search-bar__label" id="searchText" @click="text"
                                       style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                                    <i class="weui-icon-search"></i>
                                    <span>搜索</span>
                                </label>
                            </div>
                            <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel"
                               @click="cancel">取消</a>
                        </div>
                    </div>
                <div class="weui-cells weui-cells_radio" style="margin-top: 1px">
                    <div v-for=" user in userList">
                        <div></div>
                        <label class="weui-cell weui-check__label">
                            <div class="weui-cell__bd">
                                <p>{{user.crmUserName}}</p>
                            </div>
                            <div class="weui-cell__ft">
                                <input type="radio" class="weui-check" name="radio1" id="x11" :value="user.userId" v-model="chosenExe"/>
                                <span class="weui-icon-checked"></span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>

    </div>

    <div id="addInform" v-show="show ==='addProgress'" style="display: none">


        <div class="top-bar" style="height: 30px">
                        <span @click="addBack" class="pull-left">
                                <img src="/images/back_icon.svg"
                                     style="margin-top:10px;margin-left: 10px"/>
                        </span>

            <span style="height: 30px;display: inline-block ;padding-top: 5px;">进度信息</span>

            <span class="pull-right" style="margin-top: 7px; color: #28b3ff"
                  @click="submit"> 完成 &nbsp; </span>
        </div>

        <div class="list">
            <div class="page__bd">
                <div class="weui-cells weui-cells_form" style="margin-top: 1px">
                    <div class="weui-cell" style="margin-top: 0px">
                        <div class="weui-cell__bd">
                                        <textarea class="weui-textarea" placeholder="请输入新的进度信息" rows="24"
                                                  v-model="progress"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

</body>

<script type="text/javascript">
    $(function () {
        $('.weui-navbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').css("border-bottom", "none").css("color", "#999999");
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
            $('div.weui-bar__item_on').css("border-bottom", "inset rgba(56, 164, 242, 1)").css("color", "rgba(56, 164, 242, 1)");
        });
    });
</script>
<script type="text/javascript" class="slider js_show">
    $(function () {
        $('body').on('mouseup', function (e) {
            $('#sliderHandler').unbind('mousemove');
        })
    });
</script>
</html>