<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>项目</title>

    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css">

    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/project/project.js?v=20190710"></script>

    <style>
        .pull-left {
            float: left !important;
        }

        .pull-right {
            float: right !important;
        }

        .top-bar {
            background: #FFFFFF;
            text-align: center;
            padding: 7px 10px;
            font-size: 18px;
        }

        .center-box {
            text-align: center;
        }

        .navi-bar {
            z-index: 9999;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .weui-cells {
            margin-top: 0px;
            padding: 0px;
        }

        .filterType {
            position: absolute;
            top: 82px;
            width: 25%;
            height: 270px;
            background: #F5F5F5;
            z-index: 99999;
        }

        .title{
            background: #F5F5F5;
        }

        .filterDetail {
            position: absolute;
            top: 82px;
            left: 25%;
            width: 75%;
            height: 270px;
            background: #FFFFFF;
            z-index: 99999;
        }

        .item{
            color: #888888; font-size: 14px;
        }

    </style>
</head>
<body>

<div id="projectVue">
    <div id="projectList" v-show="showPage === 'projectList'">
        <div class="page tabbar js_show" style="height: 100%">
            <div class="weui-tab">
                <div class="navi-bar">
                    <div class="top-bar center-box">
                        <span @click="back" class="pull-left">
                            <img src="/images/back_icon.svg"
                                 style="margin-top:7px;"/></span>
                        <span class="center" style="margin-top: 3px;">项目</span>
                        <span style="float:right;margin-top: 6px" @click="add">&nbsp;
                            <img src="/images/journal/添加日志.svg"/></span>
                        <span style="float:right;margin-top: 7px;margin-right: 10px" @click="search">&nbsp;
                            <img src="/images/search.svg"/></span>
                    </div>

                    <div class="weui-navbar" style="position: relative;height: 40px;background-color: #F9F9F9;
                            font-size: 15px; color: #999999;">
                        <div class="weui-navbar__item weui-bar__item_on" @click="all"
                             style="border-bottom: inset rgba(56, 164, 242, 1); color: rgba(56, 164, 242, 1)">
                            全部
                        </div>
                        <div class="weui-navbar__item" @click="before">
                            交付前
                        </div>
                        <div class="weui-navbar__item" @click="after">
                            交付后
                        </div>
                        <div class="weui-navbar__item" @click="filter">
                            筛选<img :src='imgFilter'>
                        </div>
                    </div>
                </div>

                <div class="weui-tab__panel" style="padding-top: 82px; background: #FFFFFF;">
                    <div class="weui-search-bar" id="searchBar" v-show="searchBar" style="display: none;">
                        <div class="weui-search-bar__form">
                            <div class="weui-search-bar__box">
                                <i class="weui-icon-search"></i>
                                <input type="text" class="weui-search-bar__input" id="searchInput"
                                       placeholder="搜索" v-model="keyWord">
                                <a href="javascript:" class="weui-icon-clear" id="searchClear"
                                   @click="clear"></a>
                            </div>
                            <label class="weui-search-bar__label" id="searchText" @click="text"
                                   style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                                <i class="weui-icon-search"></i>
                                <span>按项目名称/创建人名称搜索</span>
                            </label>
                        </div>
                        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel"
                           @click="cancel">取消</a>
                    </div>

                    <div class="projectList" v-for="(project, index) in projectList">
                        <div class="weui-panel weui-panel_access">
                            <a :href="'/project/projectDetail?projectId='+project.projectId " class="weui-media-box weui-media-box_appmsg"
                               style="padding: 8px 10px ;">
                                <div class="weui-media-box__bd">
                                    <label class="weui-media-box__title"
                                           style="font-size: 15px;color: #333333; width: auto;">{{project.projectName}}</label>
                                    <p class="weui-media-box__desc" style="font-size: 12px;color: #888888;">
                                        {{project.customerName}}&nbsp;
                                        <label class="pull-right" style="font-size: 12px;color: #101010;">
                                            {{project.strDeadLine}}</label>
                                    </p>
                                    <p class="weui-media-box__desc" style="font-size: 12px;color: #888888;">
                                        项目负责人 : {{project.leaderName}}
                                        <label class="pull-right" style="font-size: 15px;color: #A0B4BB;">
                                            {{project.amount}}元</label>
                                    </p>
                                    <p class="weui-media-box__desc" :id="'pStatus' + index">
                                        <span :style="getStyle(project.status)" v-text="showStatus(project.status)"></span>&nbsp;&nbsp;
                                        <span style="color: #00A4FF;" v-text="showPercent(project)"></span>
                                         &nbsp;
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="blank" style="margin:20% auto auto auto; text-align:center; "
                         v-if="projectList.length === 0">
                        <p>
                            <img src="/images/project/no_project.svg"/>
                        </p>
                        <p style="color: #CCCCCC; font-size: small">还没有项目，快去添加吧</p>
                    </div>

                    <div id="filterPage" style="display: none;" v-show="filterPage">
                        <div class="weui-mask" @click="cancelMask" style="position: absolute;top: 390px;"></div>
                        <div class="filterType">
                            <div class="weui-cells weui-cells_radio">
                                <label id="creator" class="weui-cell weui-check-label title" @click="selCreator">
                                    <div class="weui-cell__bd">
                                        <p class="item">创建人</p>
                                    </div>
                                </label>
                                <label id="customer" class="weui-cell weui-check__label title" @click="selCustomer">
                                    <div class="weui-cell__bd">
                                        <p class="item">客户名称</p>
                                    </div>
                                </label>
                                <label id="date" class="weui-cell weui-check__label title" @click="selDate">
                                    <div class="weui-cell__bd">
                                        <p class="item">创建时间</p>
                                    </div>
                                </label>
                                <label id="status" class="weui-cell weui-check__label title" @click="selStatus">
                                    <div class="weui-cell__bd">
                                        <p class="item">项目状态</p>
                                    </div>
                                </label>

                            </div>
                        </div>
                        <div style="height: 44px; width: 100%; position: absolute; top: 352px; background: #F9F9F9; z-index: 99999;">
                            <div style="float:right;">
                                <a style="position: relative;bottom: 6px;margin-right: 15px;"
                                   @click="reset" class="weui-btn weui-btn_mini weui-btn_default"><span style="color: rgba(61, 168, 244, 1);">重置</span></a>
                                <a style=" right: 15px; bottom: 6px; background: #3DA8F4;" @click="finish"
                                   class="weui-btn weui-btn_mini weui-btn_default"><span style="color: #FFFFFF;">完成</span></a>
                            </div>
                        </div>

                        <div id="filterDate" style="display:none;" v-show="filterCondition === 'date'">
                            <div class="filterDetail">
                                <div class="weui-cells weui-cells_radio">
                                    <label class="weui-cell weui-check__label" @click="dateChecked">
                                        <div class="weui-cell__bd">
                                            <p style="font-size: 14px;color: #101010;">不限</p>
                                        </div>
                                        <div class="weui-cell__ft">
                                            <input id="dateCheck" class="weui-check" type="radio" value="all"
                                                   name="createDate" v-model="newDate"/>
                                            <span class="weui-icon-checked"></span>
                                        </div>
                                    </label>
                                    <div class="weui-cell" @click="removeAll">
                                        <div class="weui-cell__hd">
                                            <label class="weui-label"
                                                   style="font-size: 14px;color: #101010;width: 80px">开始时间</label>
                                        </div>
                                        <div class="weui-cell__bd">
                                            <input class="weui-input" type="date" style="font-size: 14px;color: #101010;"
                                                   v-model="dateValueStart"/>
                                        </div>
                                    </div>
                                    <div class="weui-cell" @click="removeAll">
                                        <div class="weui-cell__hd">
                                            <label class="weui-label"
                                                   style="font-size: 14px;color: #101010;width: 80px">结束时间</label>
                                        </div>
                                        <div class="weui-cell__bd">
                                            <input class="weui-input" type="date" style="font-size: 14px;color: #101010;"
                                                   v-model="dateValueEnd"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="filterCreator" style="display:none;" v-show="filterCondition === 'creator'">
                            <div class="filterDetail">
                                <div class="weui-cells weui-cells_radio">
                                    <label class="weui-cell weui-check__label" for="creatorCheck" @click="creatorChecked">
                                        <div class="weui-cell__bd">
                                            <p style="font-size: 14px;color: #101010;">不限</p>
                                        </div>
                                        <div class="weui-cell__ft">
                                            <input id="creatorCheck" type="radio" class="weui-check" name="selectCreator"
                                                   value="all"
                                                   v-model="creatorValue"/>
                                            <span class="weui-icon-checked"></span>
                                        </div>
                                    </label>
                                    <label class="weui-cell weui-check__label" @click="creatorChecked">
                                        <div class="weui-cell__bd">
                                            <p style="font-size: 14px;color: #101010;">我</p>
                                        </div>
                                        <div class="weui-cell__ft">
                                            <input id="mine" type="radio" class="weui-check" name="selectCreator"
                                                   value="mine"
                                                   v-model="creatorValue"/>
                                            <span class="weui-icon-checked"></span>
                                        </div>
                                    </label>
                                    <label class="weui-cell weui-check__label" @click="creatorChecked">
                                        <div class="weui-cell__bd">
                                            <p style="font-size: 14px;color: #101010;">我的下属</p>
                                        </div>
                                        <div class="weui-cell__ft">
                                            <input id="subs" type="radio" class="weui-check" name="selectCreator"
                                                   value="sub"
                                                   v-model="creatorValue"/>
                                            <span class="weui-icon-checked"></span>
                                        </div>
                                    </label>
                                    <a class="weui-cell weui-cell_access" @click="chooseCreator">
                                        <div class="weui-cell__bd">
                                            <input id="creatorChoose" class="weui-input" type="text" placeholder="请选择"
                                                   style="font-size: 14px;color: #101010;" readonly="readonly"
                                                   v-model="subsName"/>
                                        </div>
                                        <div class="weui-cell__ft"></div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="filterCustomer" style="display:none;" v-show="filterCondition === 'customer'">
                            <div class="filterDetail">
                                <div class="weui-cells weui-cells_radio">
                                    <label class="weui-cell weui-check__label" @click="customerChecked" for="customerCheck">
                                        <div class="weui-cell__bd">
                                            <p style="font-size: 14px;color: #101010;">不限</p>
                                        </div>
                                        <div class="weui-cell__ft">
                                            <input id="customerCheck" type="radio" class="weui-check" name="customer"
                                                   value=""
                                                   v-model="customerValue"/>
                                            <span class="weui-icon-checked"></span>
                                        </div>
                                    </label>
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <input id="customerInput" class="weui-input" type="text" placeholder="请输入"
                                                   style="font-size: 14px;color: #101010;" v-model="customerValue"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="filterStatus" style="display: none;" v-show=" filterCondition === 'status'">
                            <div class="filterDetail">
                                <div class="weui-cells weui-cells_radio">
                                    <label class="weui-cell weui-check__label" for="stage1">
                                        <div class="weui-cell__bd">
                                            <p style="font-size: 14px;color: #101010;">不限</p>
                                        </div>
                                        <div class="weui-cell__ft">
                                            <input id="stage1" type="radio" class="weui-check" name="selectStage"
                                                   value="all"
                                                   v-model="stageValue"/>
                                            <span class="weui-icon-checked"></span>
                                        </div>
                                    </label>
                                    <label class="weui-cell weui-check__label" v-for="(stage, index) in stages">
                                        <div class="weui-cell__bd">
                                            <p style="font-size: 14px;color: #101010;" v-text="stage"></p>
                                        </div>
                                        <div class="weui-cell__ft">
                                            <input :id="'stage' + index+2" type="radio" class="weui-check" name="selectStage"
                                                   :value="index"
                                                   v-model="stageValue"/>
                                            <span class="weui-icon-checked"></span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- loading toast -->
                    <div id="loadingToast" style="display:none;">
                        <div class="weui-mask_transparent"></div>
                        <div class="weui-toast">
                            <i class="weui-loading weui-icon_toast"></i>
                            <p class="weui-toast__content">数据加载中</p>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>

    <div id="selectCreator" v-show="showPage === 'selectCreator'">
        <div class="weui-tab">

            <div class="top-bar center-box" style="border: hidden; padding: 8px 8px;">
                        <span class="pull-left" @click="backToFilter"
                              style="color: rgb(61, 168, 244); font-size: 16px;">取消</span>
                <span class="center-ele" style="font-size: 18px; color: rgb(51, 51, 51);">选择创建人</span>
                <span class="pull-right" @click="submit"
                      style="color: rgb(61, 168, 244); font-size: 16px;">完成</span>
            </div>
            <div class="subMember" style="margin-top: 3px;">
                <div class="weui-cells weui-cells_checkbox" v-for="member in subMemberList" style="margin-top: 0;padding: 0px;">
                    <label class="weui-cell weui-check__label">
                        <div class="weui-cell__bd">
                            <p v-text="member.memberName"></p>
                        </div>
                        <div class="weui-cell__ft">
                            <input type="checkbox" class="weui-check" name="checkbox1"
                                   :value="member.memberId + ',' + member.memberName" v-model="tempSub">
                            <i class="weui-icon-checked"></i>
                        </div>
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

<script type="text/javascript">
    $(function () {
        $('.weui-navbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').css("border-bottom", "none").css("color", "#999999");
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
            $('div.weui-bar__item_on').css("border-bottom", "inset rgba(56, 164, 242, 1)").css("color", "rgba(56, 164, 242, 1)");
        });
    });
</script>
</html>