<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
    <link rel="stylesheet" href="/weui.css">
    <link rel="stylesheet" href="/example.css"/>
    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <style>
        .pull-left{
            float: left!important;
        }
        .pull-right{
            float: right!important;
        }
        .top-bar{
            font-size: 18px;
            text-align: center;
            background: #FAFAFA;
            /*border-bottom: solid 1px #DDDDDD ;*/
        }
        .center-box{
            text-align: center;
        }
        .select-bar{
            position: relative;
            padding: 10px 0;
            text-align: center;
        }
        .customer-item{
            background-color: #FFFFFF;
            line-height: 1.47058824;
            font-size: 17px;
            overflow: hidden;
            position: relative;
        }
        .weui-cells{
            margin-top: 0;
            padding: 0px;
        }
        .usr-img{
            position: relative;
            margin-right: 10px;
            padding-left: 30px;
            width: 25px;
            display: block;

        }
        .page__bd_spacing{
            padding-top: 10px;
        }

    </style>

</head>
<body>

<div id="organizationVue" >
    <div v-show="showPage === 'showCustomerOrganization'">
        <div class="top-bar center-box">
            <div>
                <span class="pull-left"><</span>
                <span class="center-ele">浙江大学</span>
                <span class="pull-right">编辑</span>
            </div>
            <div class="select-bar">
                <span @click="showCustomerInfo=true" >客户信息</span>
                <span @click="searchOrganizations()">组织机构</span>
            </div>
        </div>

        <div class="weui-search-bar" id="searchBar" >
            <form class="weui-search-bar__form">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                    <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                </div>
                <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                    <i class="weui-icon-search"></i>
                    <span>搜索</span>
                </label>
            </form>
            <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
        </div>

        <div v-show="showOrganization">
            <div class="customer-item">
                <customer v-for="customer in customerList" :customer="customer"></customer>
            </div>
        </div>

        <div class="js_dialog" id="iosDialog" style="opacity: 1;" v-show="showApplyDialog">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd" >
                    <h1>提示</h1>
                </div>
                <div class="weui-dialog__bd">
                    <p>是否申请"{{applyDeptName}}"</p>
                </div>
                <div class="weui-dialog__ft">
                    <a @click="dialogCheck()" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                    <a @click="dialogQuit()" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                </div>
            </div>
        </div>
    </div>

    <div v-show="showPage === 'showApply'">
        <div class="top-bar center-box">
            <span class="pull-left" @click="applyQuit()">取消</span>
            <span class="center-ele">申请{{applyDeptName}}</span>
            <span class="pull-right" @click="applySubmit()">提交</span>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <p>申请理由</p>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入文本" rows="5" v-model="submitReasons"></textarea>
                </div>
            </div>
        </div>
        <div class="js_dialog" id="submitDialog" style="opacity: 1;" v-show="showSubmitDialog">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd" >
                    <h1>提示</h1>
                </div>
                <div class="weui-dialog__bd">
                    <p>"{{applyDeptName}}"申请成功</p>
                </div>
                <div class="weui-dialog__ft">
                    <a @click="submitDialogCheck()" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                </div>
            </div>
        </div>
    </div>

    <div v-show="showPage === 'showOpenSeaWarning' ">
        <div class="top-bar center-box">
            <span class="pull-left" @click="openSea2Organization()"><</span>
            <span class="center-ele">客户进入公海警告</span>
            <span class="pull-right">@@</span>
        </div>
        <div class="page__bd page__bd_spacing">
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <img src="">
                    </div>
                    <div class="weui-cell_bd">
                        <span>{{warningDetails.leftTime}}小时后，{{warningDetails.warnedOrganization}}将自动进入公海</span>
                    </div>
                </div>
            </div>

            <div class="weui-cells" style="margin-top: 20px">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <span>{{warningDetails.warnedOrganization}}</span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <span>创建时间 : </span>
                    </div>
                    <div class="weui-cell__bd">
                        <span>{{warningDetails.createdTime}}</span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <span>跟进次数 : </span>
                    </div>
                    <div class="weui-cell__bd">
                        <span>{{warningDetails.times}}</span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <span>最后跟进 : </span>
                    </div>
                    <div class="weui-cell__bd">
                        <span>{{warningDetails.lastTime}}</span>
                    </div>
                </div>


            </div>

            <div class="weui-cells" style="margin-top: 20px">
                <div class="weui-cell">
                    <div class="weui-cells">
                        <span>调入公海的原因</span>

                        <ul>
                            <li><span>原因一</span></li>
                            <li><span>原因二</span></li>
                        </ul>
                    </div>
                </div>

            </div>

            <a href="javascript:;" class="weui-btn weui-btn_primary" style="margin-top: 30px">申请延期</a>


        </div>
    </div>

</div>

</body>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</html>