<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Title</title>

    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css">
    <link rel="stylesheet" type="text/css" href="/statisticsInfo.css">
    <link rel="stylesheet" type="text/css" href="/statistics.css">

    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>

</head>
<body>
<div>
    <settitle id="title" name="新增A级人员"></settitle>
    <tablecontent id="infotable" titles="hi kim" rows="hi kim,I like"></tablecontent>
</div>
</body>
</html>

<script src="/setTitle.js"></script>
<script src="/setTable.js"></script>