<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>手机号注册</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css">
    <script src="http://47.96.188.208/static/js/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/loginRegister.js"></script>
    <style>
        .top-bar {
            background: #ffffff;
            text-align: center;
            padding: 10px 15px;
        }

        .pull-left {
            float: left !important;
        }
    </style>
</head>
<body ontouchstart>

<div id="insertVue">
    <div id="telRegister" v-show="showPage === 'telRegister'">
        <div class="top-bar" style="height: 20px;">
            <a href="javascript:login();">
                <span class="pull-left"><img src="/images/back_icon.svg" style="margin-top:3px"/></span>
            </a>
        </div>
        <div class="weui-flex" style=" visibility: hidden">
            <div class="weui-flex__item">
                <div class="placeholder">placeholder</div>
            </div>
        </div>
        <div class="weui-flex" style=" visibility: hidden">
            <div class="weui-flex__item">
                <div class="placeholder">placeholder</div>
            </div>
        </div>
        <div class="weui-flex" style=" visibility: hidden">
            <div class="weui-flex__item">
                <div class="placeholder">placeholder</div>
            </div>
        </div>
        <div class="weui-flex" style=" visibility: hidden">
            <div class="weui-flex__item">
                <div class="placeholder">placeholder</div>
            </div>
        </div>
        <div class="page__bd page__bd_spacing">
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder"></div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder" style="text-align: center;">
                    <h2>手机号注册</h2>
                </div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder"></div>
            </div>
        </div>
        <div class="weui-flex" style=" visibility: hidden">
            <div class="weui-flex__item">
                <div class="placeholder">placeholder</div>
            </div>
        </div>
        <div class="weui-flex" style=" visibility: hidden">
            <div class="weui-flex__item">
                <div class="placeholder">placeholder</div>
            </div>
        </div>
        <div class="weui-flex" style=" visibility: hidden">
            <div class="weui-flex__item">
                <div class="placeholder">placeholder</div>
            </div>
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__bd">
                    <input id="inputTel" class="weui-input" type="number" name="tel" placeholder="输入手机号" v-model="tel">
                </div>
                <div class="weui-cell__ft">
                    <a id="send-captcha" @click="getCaptchaRegister" href="javascript:;"
                       class="weui-vcode-btn">获取验证码</a>
                </div>
            </div>
        </div>
        <div class="weui-cells__tips" style=" display:none">
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="输入验证码" v-model="captcha">
                </div>
            </div>
        </div>
        <div class="weui-cells__tips" style=" display:none">
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input " type="text" name="realName" placeholder="输入你的姓名" v-model="realName">
                </div>
            </div>
        </div>
        <div class="weui-cells__tips" style=" display:none">
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input " name="pwd" type="password" placeholder="设置密码（至少6位）" v-model="pwd">
                </div>
            </div>
        </div>

        <div class="weui-flex" style=" visibility: hidden">
            <div class="weui-flex__item">
                <div class="placeholder">placeholder</div>
            </div>
        </div>

        <div class="hb_mar_top_40">
            <a href="javascript:;" class="weui-btn weui-btn_primary" id=submit_btn @click="register">确认</a>
        </div>
        </div>
    </div>

    <div id="supplementaryInformation" style="display: none" v-show="showPage === 'supplementaryInformation'">
        <div class="top-bar">
            <!--<span @click="backToList" class="pull-left"><img src="/images/back_icon.svg" style="margin-top:3px"/></span>-->
            <span class="center">补充个人信息</span>
        </div>
        <div class="weui-panel__bd" style="text-align: center;">
            <div class="weui-flex" style=" visibility: hidden">
                <div class="weui-flex__item">
                    <div class="placeholder">placeholder</div>
                </div>
            </div>
            <img src="/images/journal/defaultUserIcon.png" style="width: 60px;height: 60px;"
                 alt=""
                 class="weui-tabbar__icon">
            <div class="weui-flex" >
                <div class="weui-flex__item">
                    <!--<div class="placeholder" style="font-size: smaller;color: #9B9B9B">点击上传头像</div>-->
                </div>
            </div>

            <div class="page__bd page__bd_spacing">
            <div class="weui-cells weui-cells_form" style="text-align: left;">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">姓 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" v-model="realName">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">电&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp话:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" v-model="tel">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">出生年月:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="date" v-model="birth">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label" >性&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp别:</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="select2" v-model="gender">
                            <option value="MALE" >男</option>
                            <option value="FEMALE">女</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">电子邮箱:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="email" name="email" placeholder="输入电子邮箱" v-model="mail"/>
                    </div>
                </div>
            </div>
            <div class="weui-flex" style=" visibility: hidden">
                <div class="weui-flex__item">
                    <div class="placeholder">placeholder</div>
                </div>
            </div>

            <div class="hb_mar_top_40">
                <button class="weui-btn weui-btn_primary" @click="confirm">确认</button>
            </div>
             </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function login() {
        location.href = '/';
    };
</script>


</html>